<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Todays info</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="icon" href="image/favicon.ico">
  </head>
  </html>
